/* ################ */
/* General */
/* ################ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
:root {
  --black: #000000;
  --orange: #ff8800;
  --white: #fefefefe;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--black);
}
.btn {
  color: var(--black);
  background-color: var(--white);
  font-size: 0.8em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
}
.btn:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: 0.5s ease-in;
}

/* Bouton de redirection  */
.arrow {
  height: 50px;
  width: 50px;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  border-radius: 50%;
}
.icone {
  font-size: 24px;
  color: var(--white);
}

/* ############## */
/* Header */
/* ############## */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 35px 125px;
  z-index: 100000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header .logo img {
  width: 15%;
  margin-top: -1rem;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul li a:hover {
  color: var(--orange);
  transition: 0.5s ease-in-out;
}
header.sticky {
  padding: 5px 100px;
}
header.sticky {
  background-color: var(--black);
}
/* Styles pour le menu burger */
.menu-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--white);
}

/* ############## */
/* Home */
/* ############## */
#home {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/images/home.webp");
  background-size: cover;
}
#home .container .row .col-md-8 {
  margin-left: 4.6rem;
}
#home .container .row .col-md-8 h5 {
  color: var(--orange);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 7rem;
}
#home .container .row .col-md-8 h2 {
  color: var(--white);
  font-size: 15px;
}

/* ############## */
/* About */
/* ############## */
#about .container {
  padding-top: 6rem;
}
#about .container .col-md-6 .thumb {
  position: relative;
}
#about .play-btn {
  color: var(--white);
  animation: pulse 2s ease infinite;
}
#about .container .col-md-6 .thumb a {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  color: var(--white);
  border-radius: 50%;
  transform: translate(-35px, -35px);
  transition: all 0.3s;
}
#about .container .col-md-6 .thumb a:hover {
  opacity: 0.9;
}
#about .container .row .col-md-6:first-child .play-btn {
  background-color: var(--orange);
  color: var(--white);
  animation: pulse 2s ease infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--white);
  }
  100% {
    box-shadow: 0 0 0 40px transparent;
  }
}
#about .container .row .col-md-6:last-child h4 {
  color: var(--orange);
}
#about .container .row .col-md-6:last-child a {
  color: var(--orange);
}
#about .container .row .col-md-6:last-child .btn {
  color: var(--white);
  background-color: var(--orange);
  border: solid 2px var(--orange);
}
#about .container .row .col-md-6:last-child .btn:hover {
  background-color: var(--white);
  color: var(--orange);
  transition: 0.5s ease-in;
}

/* ############## */
/* Services */
/* ############## */
#services {
  margin-top: 10rem;
}
#services h2 {
  color: var(--orange);
  margin-left: 5.5rem;
}
#services .container .row .card {
  margin: 10px 17px;
  padding: 25px;
  background-color: bisque;
}
#services .container .row .card:hover {
  background-color: var(--white);
  transition: 0.5s ease-in-out;
}
#services .container .row .card a {
  text-decoration: none;
  color: var(--black);
}
#services .container .row .card i {
  font-size: 50px;
  color: var(--orange);
  padding-bottom: 25px;
}
#services .container .row .card p {
  text-transform: capitalize;
}

/* ############## */
/* Projets */
/* ############## */
#projets {
  margin-top: 10rem;
}
#projets .section-heading {
  position: relative;
  margin-top: 60px;
  text-align: center;
}
#projets .section-heading h2 {
  color: var(--orange);
  font-size: 2.2rem;
}
#projets .container .row .col-md-3 {
  margin-bottom: 2.5rem;
}

/* ############## */
/* Newsletter */
/* ############## */
#newsletter {
  background-color: bisque;
  margin-top: 10rem;
}
#newsletter .section-heading h2 {
  color: var(--orange);
}
#newsletter .container .row {
  margin-bottom: 8rem;
  padding-bottom: 2.5rem;
}
#newsletter .section-heading::before {
  left: 27rem;
}
#newsletter .container .row .col-md-6 form .form-group .btn {
  background-color: var(--orange);
  color: var(--white);
}

/* ############## */
/* Contact */
/* ############## */
#contact .heading {
  text-align: center;
  color: var(--black);
  text-transform: capitalize;
}

#contact .heading h4 {
  font-size: 40px;
  color: var(--orange);
}
#contact form {
  width: 60rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
#contact form .input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contact form .input-box input,
#contact form textarea {
  width: 100%;
  padding: 1.5rem;
  color: var(--orange);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  border: 2px solid var(--orange);
}
#contact form .input-box input {
  width: 49%;
}
#contact form textarea {
  resize: none;
}
form input[type="submit"] {
  cursor: pointer;
  border: none;
}
#contact form .btn {
  display: inline-block;
  color: var(--orange);
  border: 2px solid var(--orange);
  padding: 1rem 2.8rem;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
}
#contact form .btn:hover {
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0 0 1rem solid var(--black);
}

/* ############## */
/* Footer */
/* ############## */
footer {
  background-color: var(--black);
  color: var(--white);
}
footer a {
  color: var(--orange);
}

/* ############## */
/* Responsive */
/* ############## */
@media (max-width: 320px) {
  #home {
    overflow: hidden;
  }
  #home .container .row .col-md-8 {
    margin-left: 0.5rem;
  }
  #home .container .row .col-md-8 h5 {
    font-size: 20px;
    margin-top: 5rem;
  }
  #home .container .row .col-md-8 h2 {
    font-size: 1rem;
  }
  #services .container .row .card {
    margin-left: 30px;
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  header {
    padding: 10px 30px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--black);
    flex-direction: column;
    align-items: center;
    display: none;
    margin-top: 125px;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    margin: 15px 0;
  }

  header .logo img {
    width: 15;
  }
  header.sticky {
    padding: 15px 50px;
  }
  #about .container .row .col-md-6 h2 {
    font-size: 20px;
  }
  #about .container .row .col-md-6 p {
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  header .logo {
    font-size: 1.5em;
  }
  header .logo img {
    width: 18%;
    margin-top: 0.1rem;
  }
  #about .container .row .col-md-6 p {
    font-size: 12px;
  }
  #home .container .row .col-md-8 h2 {
    font-size: 17px;
  }
  #home {
    background-position: center;
    background-size: cover;
  }
}
