/* ################ */
/* General */
/* ################ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
:root {
  --blue: #040a5b;
  --orange: #ff8800;
  --white: #fefefefe;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
.btn {
  color: var(--blue);
  background-color: var(--white);
  font-size: 0.8em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
}
.btn:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: 0.5s ease-in;
}

/* Bouton de redirection  */
.arrow {
  height: 50px;
  width: 50px;
  background-color: rgba(27, 30, 61, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.icone {
  font-size: 24px;
  color: var(--orange);
}
/* ############## */
/* Home */
/* ############## */

/* ############## */
/* About */
/* ############## */

/* ############## */
/* Services */
/* ############## */

/* ############## */
/* Projets */
/* ############## */

/* ############## */
/* Contact */
/* ############## */

/* ############## */
/* Footer */
/* ############## */

/* ############## */
/* Responsive */
/* ############## */
